@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
html {
    font-size: 62.5%;
}
body {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 1.6rem;
}
h1 {
    font-size: 3rem;
}